<%- include ('partials/header.ejs') %> 
<%- include ('partials/navbar.ejs') %> 
<body>
    <div class="container">
        <hr>
        <h1><%= pergunta.title %></h1>
        <p><%= pergunta.description %></p>
        <hr>
        <h3>Respostas</h3>
        <% respostas.forEach(resposta =>{ %>
            <div class="card">
                <div class="card-body">
                    <p><%=resposta.corpo%></p>
                </div>
            </div><br>
            
        <% }) %>
    <hr>
        <form method="POST" action="/responder">
            <label for="Resposta">Responder</label>
            <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea>
            <br>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
        <hr>
    </div>
        
</body>
<%- include ('partials/footer.ejs') %> 